#map {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 20em;
}
.mapa{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 20em;
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.inputYbutton{
    margin-top: 2em;
}
.card{
    height: 5rem;
    margin-bottom: 0.5em;
    background-color: #e7dbe3ce;
    color: #ed1467ab;
    
}
.nombre{
   margin-top:  1.5em;
   font-weight: bold;
}
#titulo{
    background-color: #ed1467ab;
    
}
#body{
    background-color: #ed1467ab;
}
#splashtitulo{
    margin-top: 3.5em;
    font-size: 7em;
}