#map {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 20em;
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.inputYbutton{
    margin-top: 2em;
}
.card{
    height: 5rem;
    background-color: #ed1467ab;
    
}
.nombre{
   margin-top:  1.5em;
}
#titulo{
    background-color: #f1067cce;
}